body {
  font-family: $ff-primary;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: $c-bg;
}

html {
  // allows for rems to match pixel by power of 10.
  font-size: 62.5%;
}

:focus {
  outline: $c-3 solid 2px;
  z-index: 1;
}
